/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer{
	width: 100%;
	padding: 0 10px 10px;
	position: relative;
	@include sp{
		padding: 0 5px 5px;
	}
	&__inner{
		background: #000000;
		padding: 80px 0;
		@include sp{
			padding: 30px 15px;
		}
	}
	&__nav{
		margin-bottom: 80px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@include sp{
			justify-content: left;
			margin-bottom: 30px;
		}
		li{
			margin-left: 30px;
			@include sp{
				margin-left: 20px;
				width: calc(50% - 10px);
				margin-bottom: 20px;
			}
			&:nth-child(2n + 1){
				@include sp{
					clear: left;
					margin-left: 0;
				}
			}
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				a{
					&:after{
						content: "";
						width: 10px;
						height: 10px;
						background: url("/assets/img/common/icon_new_window.svg") no-repeat center;
						background-size: cover;
						position: absolute;
						right: -15px;
						top: calc(50% - 7px);
					}
				}
			}
			a{
				font-size: 1.4rem;
				line-height: 1;
				color: #FFF;
				text-decoration: none;
				padding-bottom: 4px;
				border-bottom: 1px solid transparent;
				position: relative;
				@include sp{
					font-size: 1rem;
				}
				&:hover{
					opacity: 1;
					border-bottom: 1px solid #808080;
				}
			}
		}
	}
	&__copyright{
		font-size: 1.2rem;
		line-height: 1;
		color: #999999;
		text-align: center;
		opacity: 1;
		@include noto;
		font-weight: normal;
		@include sp{
			font-size: 1rem;
			line-height: 1.7;
			padding-right: 70px;
			text-align: left;
		}
	}
}

/*
------------------------------------------------------------*/
.c-backtop{
	width: 80px;
	height: 80px;
	background: #FFF;
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease;
	@include sp{
		width: 50px;
		height: 50px;
		right: 5px;
		bottom: 5px;
	}
	svg{
		width: 20px;
		height: 20px;
		transform: rotate(-90deg);
		polygon,
		rect{
			fill: #003567;

		}
	}
	&:hover{
		background: #0068b7;
		svg{
			polygon,
			rect{
				fill: #FFF;
			}
		}
	}
}