/*------------------------------------------------------------
header
------------------------------------------------------------*/
.c-header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	@include sp{		
		//padding: 5px;
		border: 5px solid transparent;
		transition: 0.3s ease;
		overflow: scroll;
    	height: 100vh;
	}
	&.is-active{
		//background: #4c4c4c;
		border: 5px solid #4c4c4c;
	}
	&__inner{
		@include clear;
		max-width: 1200px;
		margin: 0 auto;
		background: #FFF;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
		position: relative;
		@include sp{
			max-width: 100%;
			box-shadow: none;
			background: transparent;
			display: none;
		}
	}
	&__logo{
		float: left;
		padding: 10px 30px;
		@include sp{
			float: none;
			padding: 5px 50px 5px 10px;
		}
	}
	&__logoSP{
		background: #FFF;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
		position: relative;
		z-index: 2;
	}
	&__toggle{
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		display: none;
		@include sp{
			display: block;
		}
		span{
			display: block;
			width: 3px;
			height: 3px;
			background: #003567;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:before,
		&:after{
			content: "";
			width: 3px;
			height: 3px;
			background: #003567;
			border-radius: 50%;
			position: absolute;			
			left: 50%;
			transform: translateX(-50%);
			transition: 0.3s ease;
		}
		&:before{
			top: 18px;
		}
		&:after{
			bottom: 17px;
		}
		&.is-active{
			span{
				opacity: 0;
			}
			&:before,
			&:after{
				content: "";
				width: 25px;
				height: 2px;
				background: #003567;
				border-radius: 0;
				position: absolute;			
				left: calc(50% - 12.5px);
				top: 50%;
				bottom: auto;
			}
			&:before{
				transform: rotate(45deg);
			}
			&:after{
				transform: rotate(-45deg);
			}
		}
	}
	&__nav{
		float: right;
		display: flex;
		@include sp{
			float: none;
			display: block;
		}
	}
	&__menu{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include sp{
			display: block;
		}
		li{
			padding-left: 1px;
			@include sp{
				padding-left: 0;
				border-bottom: 1px solid #d4d4d4;
			}
			&:last-child{
				@include sp{
					border-bottom: 0;
				}
			}
			a{
				display: block;
				font-size: 1.6rem;
				line-height: 2.4rem;
				color: #111;
				text-decoration: none;
				@include noto;
				font-weight: normal;
				padding: 27px 15px 29px 15px;
				background: #FFF;
				position: relative;
				@include sp{
					padding: 18px 50px 18px 15px;
					font-weight: bold;
				}
				&:after{
					content: "";
					width: 0%;
					height: 3px;
					background: #003567;
					position: absolute;
					left: 0;
					bottom: 0;
					transition: 0.3s ease;
					@include sp{
						width: 20px;
						height: 20px;
						background: url("/assets/img/common/icon_arrow03.svg") no-repeat center;
						background-size: cover;
						left: auto;
						bottom: auto;
						right: 14px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				&:hover{
					opacity: 1;
					&:after{
						width: 100%;
						@include sp{
							width: 20px;
						}
					}
				}
			}
		}
	}
	&__contact{
		margin-left: 14px;
		background: #ee7b00;
		transition: 0.3s ease;
		cursor: pointer;
		@include sp{
			margin-left: 0;
			background: rgba(0, 53, 103, 0.90);
			padding: 12px 15px 10px;
		}
		&:hover{
			background: #0096db;
		}
		&--title{
			color: #FFF;
			padding: 27px 30px 29px 30px;			
			font-size: 1.6rem;
			line-height: 2.4rem;
			@include noto;
			font-weight: normal;
			transition: 0.3s ease;
			@include sp{
				padding: 0;
			}
			&:after{
				content: "";
				width: 14px;
				height: 8px;
				background: url("/assets/img/common/101.png") no-repeat center;
				display: inline-block;
				margin-left: 10px;
				margin-bottom: 2px;
				@include sp{
					display: none;
				}
			}
		}
	}
	&__close{
		text-align: center;
		padding: 20px;
		cursor: pointer;
		display: none;
		background: #4c4c4c;
		@include sp{
			display: block;
		}
		img{
			transform: rotate(-90deg);
		}
	}
}
/*
------------------------------------------------------------*/
.c-dropmenu{
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 40px 80px;
	background: rgba(0, 53, 103, 0.90);
	display: none;
	z-index: 999;
	@include sp{
		display: block;
		padding: 14px 0 0;
		position: unset;
		background: transparent;
	}
	.c-cvArea{
		&__item{
			transition: all .3s cubic-bezier(.12,.66,.25,1) .1s;
			transform: translateX(-60px);
			opacity: 0;
			@include sp{
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
	&.is-open{
		.c-cvArea{
			&__item{
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
}