/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.l-container{
	width: 1040px;
	margin: 0 auto;
	@include sp{
		width: 100%;
	}
}
/*
------------------------------------------------------------*/
