//============================================
// サイト幅でセンタリング
//============================================
//@mixin center{
//	width: $baseWidth;
//	margin: 0 auto;
//}

//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// フォント
//============================================
@mixin mincyo() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
		"Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
@mixin mincho() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
		"Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

@mixin noto() {
	font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

@mixin roboto() {
	font-family: 'Roboto Condensed', sans-serif;
}

//NOTO
@font-face {
	font-family: 'Noto Sans Japanese';
	src: url("/assets/fonts/NotoSansCJKjp-Bold.woff") format("woff");
	src: url("/assets/fonts/NotoSansCJKjp-Light.woff") format("woff");
	src: url("/assets/fonts/NotoSansCJKjp-Regular.woff") format("woff");
}
//============================================
// breakpoint
//============================================
@mixin sp {
	@media screen and (max-width: #{$breakpoint1}) {
		@content;
	}
}
