///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

.u-bg1{
	background: #0096db;
}
.u-bg2{
	background: #009e96;
}
.u-bg3{
	background: #80b11d;
}