/*------------------------------------------------------------
btn
------------------------------------------------------------*/
.c-btn01{
	a{
		display: block;
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: #FFF;
		background: #ee7b00;
		@include noto;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		padding: 17px 5px 19px 5px;
		@include sp{
			font-size: 1.4rem;
			line-height: 2.1rem;
			padding: 10px 5px;
		}
		&:after{
			content: "";
			width: 16px;
			height: 16px;
			background: url("/assets/img/common/icon_arrow02.svg") no-repeat center;
			background-size: cover;
			display: inline-block;
			margin-left: 9px;
			margin-bottom: -2px;
			@include sp{
				font-size: 15px;
				height: 15px;
				margin-left: 8px;
			}
		}
		&:hover{
			opacity: 1;
			background: #0096db;
		}
	}
}

/* c-btn02
------------------------------------------------------------*/
.c-btn02{
	a{
		display: inline-block;
		font-size: 1.6rem;
		line-height: 1;
		color: #FFF;
		@include noto;
		font-weight: bold;
		padding: 20px 30px;
		background: #003567;
		text-decoration: none;
		@include sp{
			display: block;
			text-align: center;
			padding: 18px 20px;
			font-size: 1.4rem;
			opacity: 1;
		}
		&:after{
			content: "";
			width: 16px;
			height: 16px;
			background: url("/assets/img/common/icon_arrow02.svg") no-repeat center;
			background-size: cover;
			display: inline-block;
			margin-left: 9px;
			margin-bottom: -2px;
		}
		&:hover{
			background: #0068b7;
			opacity: 1;
		}
	}
	&--orange{
		a{
			background: #ee7b00;
			&:hover{
				background: #0096db;
			}
		}
	}
}

/* c-btn03
------------------------------------------------------------*/
.c-btn03{
	a{
		display: block;
		font-size: 1.6rem;
		line-height: 1;
		color: #FFF;
		@include noto;
		font-weight: bold;
		padding: 20px 30px;
		background: #003567;
		text-decoration: none;
		text-align: center;
		@include sp{
			display: block;
			padding: 18px 20px;
			font-size: 1.4rem;
			opacity: 1;
		}
		&:after{
			content: "";
			width: 16px;
			height: 16px;
			background: url("/assets/img/common/icon_arrow02.svg") no-repeat center;
			background-size: cover;
			display: inline-block;
			margin-left: 9px;
			margin-bottom: -2px;
		}
		&:hover{
			//background: #0068b7;
			opacity: 1;
		}
	}
}

/* c-btn04
------------------------------------------------------------*/
.c-btn04{
	text-align: center;
	width: 100%;
	a{
		display: inline-block;
		font-size: 1.6rem;
		line-height: 1;
		color: #0068b7;
		@include noto;
		font-weight: bold;
		padding: 20px 30px;
		background: transparent;
		text-decoration: none;
		text-align: center;
		border: 1px solid #003567;
		@include sp{
			display: block;
			padding: 18px 20px;
			font-size: 1.4rem;
			opacity: 1;
		}
		&:after{
			content: "";
			width: 16px;
			height: 16px;
			background: url("/assets/img/common/icon_arrow03.svg") no-repeat center;
			background-size: cover;
			display: inline-block;
			margin-left: 9px;
			margin-bottom: -2px;
		}
		&:hover{
			//background: #0068b7;
			opacity: 1;
		}
	}
}


/* c-btn05
------------------------------------------------------------*/
.c-btn05{
	display: inline-block;
    font-size: 1.2rem;
    line-height: 1;
    color: #FFF;
    @include noto;
    font-weight: bold;
    padding: 6px 10px;
    opacity: 1;
    &--bg1{
    	background: #0096db;
    }
    &--bg2{
    	background: #009e96;
    }
    &--bg3{
    	background: #80b11d;
    }
}

/* c-btn06
------------------------------------------------------------*/
.c-btn06{
	a{
		display: inline-block;
		font-size: 1.4rem;
		line-height: 1;
		color: #FFF;
		@include noto;
		font-weight: bold;
		padding: 11px 20px 13px;
		background: #ee7b00;
		text-decoration: none;
		&:after{
			content: "";
			width: 12px;
			height: 12px;
			background: url("/assets/img/common/icon_arrow02.svg") no-repeat center;
			background-size: cover;
			display: inline-block;
			margin-left: 6px;
			margin-bottom: -2px;
		}
		&:hover{
			background: #0096db;
			opacity: 1;
		}
	}
}