/*------------------------------------------------------------
title
------------------------------------------------------------*/

/* c-title01
------------------------------------------------------------*/
.c-title01{
	h3{
		font-size: 2.8rem;
		line-height: 1;
		color: #111;
		@include noto;
		font-weight: bold;
		@include sp{
			font-size: 1.8rem;
		}
		span{
			display: block;
			font-size: 2rem;
			line-height: 1;
			margin-bottom: 40px;
			@include roboto;
			font-weight: bold;
			color: #003567;
			padding-left: 25px;
			position: relative;
			@include sp{
				font-size: 1.4rem;
				margin-bottom: 20px;
				padding-left: 19px;
			}
			&:before{
				content: "";
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: url("/assets/img/common/icon_circle2.svg") no-repeat center;
				//border: 5px solid #0068b7;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				@include sp{
					//border: 3px solid #0068b7;
					width: 14px;
					height: 14px;					
				}
			}
		}
	}
	&--color1{
		h3{
			span{
				color: #111111;
			}
		}
	}
}

/* c-title02
------------------------------------------------------------*/
.c-title02{
	h3{
		font-size: 4.8rem;
		line-height: 1;
		color: #0068b7;
		@include roboto;
		font-weight: bold;
		letter-spacing: 4.5px;
		@include sp{
			font-size: 3.2rem;
		}
		span{
			display: block;
			font-size: 2rem;
			@include noto;
			font-weight: bold;
			margin-top: 25px;
			color: #003567;
			letter-spacing: 0px;
			@include sp{
				font-size: 1.4rem;
				margin-top: 15px;
			}
		}
	}
	&--text{
		display: flex;
		align-items: center;
		h3{
			padding-right: 91px;
			border-right: 1px solid #000001;
		}
		p{
			font-size: 1.6rem;
			line-height: 3.2rem;
			color: #111;
			@include noto;
			font-weight: normal;
			padding-left: 44px;
		}
	}
}

/* c-title03
------------------------------------------------------------*/
.c-title03{
	h3{
		font-size: 3.6rem;
		line-height: 5.4rem;
		@include noto;
		font-weight: bold;
		color: #003567;
		letter-spacing: 1.2px;
		span{
			display: block;
			color: #0096db;
			font-size: 2rem;
			line-height: 4rem;
			@include roboto;
			letter-spacing: 2.5px;
		}
	}
}

/* c-title04
------------------------------------------------------------*/
.c-title04{
	h3{
		font-size: 3.2rem;
		line-height: 4.8rem;
		@include noto;
		font-weight: bold;
		color: #111;
		span{
			color: #0096db;
		}
	}
}

/* c-title05
------------------------------------------------------------*/
.c-title05{
	width: 100%;
	h3{
		font-size: 1.6rem;
		line-height: 1;
		@include noto;
		font-weight: bold;
		color: #003567;
		position: relative;
		&:before{
			content: "";
			width: 100%;
			height: 1px;
			background: #0096db;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		span{
			display: inline-block;
			background: #FFF;
			padding: 0 15px 0 25px;
			position: relative;
			&:before{
				content: "";
				width: 16px;
				height: 16px;
				background: url("/assets/img/common/icon_circle2.svg") no-repeat center;
				background-size: 100%;
				position: absolute;
				left: 0;
				top: calc(50% - 8px); 
			}
		}
	}
}