/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

/* c-text01
------------------------------------------------------------*/
.c-text01{
	&__inner{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__title{
		width: 346px;
		position: relative;
		&:after{
			content: "";
			width: 1px;
			height: calc(100% - 18px);
			background: #111;
			position: absolute;
			top: 12px;
			right: 0;
		}
	}
	&__text{
		width: calc(100% - 346px);
	    padding-left: 45px;
	    padding-top: 6px;
		p{
			font-size: 1.6rem;
			line-height: 3.2rem;
			color: #111;
			@include noto;
			font-weight: normal;
		}
	}
}