/*------------------------------------------------------------
list
------------------------------------------------------------*/

/* c-list01
------------------------------------------------------------*/
.c-list01{
	&__card{		
		margin-bottom: 80px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include sp{
			padding: 0 15px;
			margin-bottom: 40px;
			flex-direction: column;
		}
	}
	&__inner{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 30px 0 33px;
		width: 100%;
		@include sp{
			flex-direction: column;
		}
		.c-list01__img{
			padding-top: 10px;
		}
	}
	&__img{
		width: 480px;
		@include sp{
			width: 100%;
			margin-top: 20px;
			order: 2;
		}
	}
	&__text01,
	&__text02{
		width: 480px;
		@include sp{
			width: 100%;
			order: 1;
		}
		p{
			font-size: 1.6rem;
			line-height: 3.2rem;
			color: #111111;
			@include noto;
			font-weight: normal;
			margin-top: 40px;
			@include sp{
				font-size: 1.4rem;
				line-height: 2.45rem;
				margin-top: 20px;
			}
		}
	}
	&__text02{
		p{
			margin-top: 22px;
		}
	}
}

/* c-list02
------------------------------------------------------------*/
.c-list02{
	margin: 0 -4px;
	display: flex;
	flex-wrap: wrap;
	@include sp{
		margin: 0;
	}
	&__card{
		width: 254px;
		margin: 0 4px 10px;
		background: #FFF;
		display: none;
		@include sp{
			width: calc(50% - 4px);
			margin: 0 2px 4px;
		}
		&--bg{
			background: #f9fbfd;
		}
		&.is-active{
			display: block;
		}
	}
	&__tab{
		display: inline-block;
		font-size: 1.2rem;
		color: #FFF;
		@include noto;
		font-weight: bold;
		padding: 6px 10px;
		opacity: 1;
		@include sp{
			padding: 5px;
			font-size: 1rem;
			line-height: 1;
		}
	}
	&__img{
		width: 100%;
		height: 127px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include sp{
			height: auto;
		}
		img{
			@include sp{
				width: 100%;
			}
		}
	}
	&__text{
		padding: 20px;
		@include sp{
			padding: 10px;
		}
		p{
			font-size: 1.5rem;
			line-height: 2.625rem;
			color: #111111;
			@include noto;
			font-weight: bold;
			@include sp{
				font-size: 1.2rem;
				line-height: 1.8rem;
			}
		}
		span{
			font-size: 1.2rem;
			//line-height: 2.4rem;
			color: #0068b7;
			@include noto;
			font-weight: normal;
			display: block;
			opacity: 1;
			@include sp{
				font-size: 1rem;
				margin-top: 10px;
			}
		}
	}
}

/* c-list03
------------------------------------------------------------*/
.c-list03{
	display: flex;
	flex-wrap: wrap;
	@include sp{
		display: block;
		padding: 0 15px;
	}
	&__card{
		width: 340px;
		padding: 40px;
		margin-left: 8px;
		background: transparent;
		position: relative;
		transition: 0.3s ease;
		@include sp{
			width: 100%;
			padding: 20px 0;
			border-top: 1px solid #000;
			margin-left: 0;
		}
		&:before{
			content: "";
			width: 1px;
			height: calc(100% - 80px);
			background: #000;
			position: absolute;
			left: -4px;
			top: 40px;
			@include sp{
				display: none;
			}
		}
		&:nth-child(3n + 1){
			clear: left;
			margin-left: 0;
			&:before{
				display: none;
			}
		}
		&:last-child{
			@include sp{
				border-bottom: 1px solid #000;
			}
		}
		a{
			text-decoration: none;
		}
		&:hover{
			background: #FFF;
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
		}
	}
	&__head{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		span{
			display: block;
			font-size: 1.2rem;
			line-height: 1;
			color: #FFF;
			@include noto;
			font-weight: bold;
			background: #0068b7;
			padding: 6px 10px;
			@include sp{
				font-size: 1rem;
				padding: 5px;
			}
		}
		p{
			font-size: 1.2rem;
			line-height: 1.8rem;
			@include noto;
			font-weight: normal;
			color: #111111;
			padding-left: 17px;
			position: relative;
			@include sp{
				font-size: 1rem;
				padding-left: 15px;
			}
			&:before{
				content: "";
				width: 12px;
				height: 12px;
				background: url("/assets/img/common/icon_clock.svg") no-repeat center;
				position: absolute;
				left: 0;
				top: calc(50% - 6px);
				@include sp{
					width: 10px;
					height: 10px;
					top: calc(50% - 5px);
				}
			}
		}
	}
	&__text{
		h3{
			font-size: 1.6rem;
			line-height: 2.8rem;
			color: #111111;
			@include noto;
			font-weight: bold;
			margin-bottom: 20px;
			@include sp{
				font-size: 1.4rem;
				line-height: 2.45rem;
				margin-bottom: 0;
			}
		}
		p{
			font-size: 1.4rem;
			line-height: 2.45rem;
			color: #111;
			@include noto;
			font-weight: normal;
			@include sp{
				display: none;
			}
		}
	}
}

/* c-list04
------------------------------------------------------------*/
.c-list04{
	display: flex;
	flex-wrap: wrap;
	&__card{
		width: 164px;
		margin-left: 11px;
		&:first-child{
			margin-left: 0;
		}
	}
}

/* c-list05
------------------------------------------------------------*/
.c-list05{
	display: flex;
	flex-wrap: wrap;
	&__card{
		width: 340px;
		margin-left: 10px;
		padding: 40px;
		background: #0096db;
		&:first-child{
			margin-left: 0;
		}
	}
	&__title{
		text-align: center;
		font-size: 2.4rem;
		line-height: 3.6rem;
		color: #FFF;
		@include noto;
		font-weight: bold;
		span{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background: #FFF;
			margin: 0 auto 12px;
			img{
				width: 40px;
			}
		}
	}
	&__text{
		font-size: 1.6rem;
		line-height: 2.8rem;
		color: #FFF;
		@include noto;
		font-weight: normal;
		margin: 18px 0 30px;
	}
}