/*------------------------------------------------------------
video
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-slide1{
	width: 100%;	
	overflow: hidden;
	&__inner{
		max-width: 1040px;
		margin: 0 auto;
	}
	&__box{
		display: flex;
		flex-wrap: wrap;
		width: 100vw;
		@include sp{
			padding-left: 15px;
		}
	}
	&__item{
		width: 500px;
		float: left;
		margin-right: 40px;
		background: #FFF;
		position: relative;
		transition: all 0.3s ease-in-out;
		display: none;
		@include sp{
			width: 260px;
			margin-right: 20px;
		}
		&:hover{
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
			.c-slide1__img{
				img{
					transform: scale(1.1);
				}
			}
			.c-slide1__title{
				background-size: 150% 150%;
				&:before{
					transform: scale(1.2);
				}
				&:after{
					opacity: 1;
				}
				span{
					border-bottom: 2px solid #cfcecb;
				}
			}
			.c-slide1__cat{
				a{
					color: #0096db;
					border-bottom: 1px solid #0096db;
				}
			}
		}
		&.slick-active{
			display: block;
		}
	}
	&__tab{
		position: absolute;
		top: 0;
		left: 0;
		padding: 6px 10px;
		font-size: 1.2rem;
		@include noto;
		font-weight: bold;
		color: #FFF;
		z-index: 1;
		@include sp{
			font-size: 1rem;
			padding: 5px;
		}
	}
	&__img{
		overflow: hidden;
		img{
			transition: all .3s ease-in-out;
		}
	}
	&__title{
		width: calc(100% - 40px);
		font-size: 2rem;
		line-height: 3rem;
		color: #FFF;
		@include noto;
		font-weight: bold;
		padding: 30px 40px;
		margin-top: -40px;
		position: relative;
    	z-index: 1;
    	overflow: hidden;
    	//background: url("/assets/img/common/128.jpg") no-repeat center;
    	background-size: 100% 100%;
    	background-position: 50% 50%;
    	background-repeat: no-repeat;
    	transition: all .3s ease-in-out;
    	@include sp{
    		width: calc(100% - 20px);
    		font-size: 1.4rem;
    		line-height: 2.45rem;
    		padding: 20px;
    		margin-top: -20px;
    	}
    	&:after{
    		content: "";
    		width: 100%;
    		height: 100%;
    		background: rgba(0, 0, 0, 0.3);
    		position: absolute;
    		top: 0;
    		left: 0;
    		z-index: -1;
    		opacity: 0;
    		transition: all .3s ease-in-out;
    	}
	}
	&__text{
		padding: 30px 40px;
		@include sp{
			padding: 20px;
		}
	}
	&__txt{
		font-size: 1.4rem;
		line-height: 2.45rem;
		color: #111111;
		@include noto;
		font-weight: normal;
		margin-bottom: 20px;
		@include sp{
			font-size: 1.2rem;
			line-height: 1.8rem;
			margin-bottom: 15px;
		}
	}
	&__time{
		padding-left: 22px;
		display: block;
		margin-bottom: 15px;
		font-size: 1.2rem;
		@include noto;
		font-weight: normal;
		position: relative;
		@include sp{
			font-size: 1rem;
			padding-left: 15px;
			margin-bottom: 10px;
		}
		&:before{
			content: "";
			width: 12px;
			height: 12px;
			background: url("/assets/img/common/icon_clock.svg") no-repeat center;
			position: absolute;
			left: 0;
			top: calc(50% - 6px);
			@include sp{
				width: 10px;
				height: 10px;
				top: calc(50% - 5px);
			}
		}
	}
	&__cat{
		font-size: 1.2rem;
		color: #111;
		padding-left: 22px;
		position: relative;
		@include sp{
			font-size: 1rem;
			padding-left: 15px;
		}
		a{
			text-decoration: none;
			color: #0068b7;
			@include noto;
			font-weight: normal;
			border-bottom: 1px solid transparent;	
		}
		span{
			padding: 0 3px 0 1px;
		}
		&:before{
			content: "";
			width: 12px;
			height: 12px;
			background: url("/assets/img/common/icon_tag.svg") no-repeat center;
			position: absolute;
			left: 0;
			top: calc(50% - 6px);
			@include sp{
				width: 10px;
				height: 10px;
				top: calc(50% - 5px);
			}
		}
	}
	&__control{
		margin-top: 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-right: 20px;
		@include sp{
			margin-top: 20px;
			padding: 0 15px;
			flex-direction: column;
		}
		.c-btn02{
			@include sp{
				order: 2;
			}
		}
	}
	&__btn{
		display: flex;
		flex-wrap: wrap;
		@include sp{
			width: 100%;
			order: 1;
			display: block;
			text-align: center;
		}
	}
	&__prev,
	&__next{
		width: 20px;
		height: 20px;
		background: url("/assets/img/common/icon_arrow03.svg") no-repeat center;
		cursor: pointer;
		@include sp{
			display: none;
		}
	}
	&__prev{
		transform: rotate(-180deg);
		margin-right: 40px;
		position: relative;
		&:after{
			content: "";
			width: 1px;
			height: 20px;
			background: #000;
			position: absolute;
			left: -20px;
		}
	}
	&__number{
		font-size: 1.6rem;
		line-height: 2rem;
		color: #111;
		@include roboto;
		margin-right: 20px;
		@include sp{
			font-size: 1.4rem;
			line-height: 1;
			margin-right: 0;
			margin-bottom: 20px;
		}
		span{
			display: inline-block;
			padding:0 3px;
		}
	}
}