/*------------------------------------------------------------
other
------------------------------------------------------------*/

.c-date{
	padding-left: 20px;
	display: block;
	font-size: 1.2rem;
	@include noto;
	font-weight: normal;
	position: relative;
	@include sp{
		font-size: 1rem;
		padding-left: 15px;
		margin-bottom: 10px;
	}
	&:before{
		content: "";
		width: 12px;
		height: 12px;
		background: url("/assets/img/common/icon_clock.svg") no-repeat center;
		position: absolute;
		left: 0;
		top: calc(50% - 6px);
		@include sp{
			width: 10px;
			height: 10px;
			top: calc(50% - 5px);
		}
	}
}

/*c-cvArea
------------------------------------------------------------*/
.c-cvArea{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include sp{
		display: block;
	}
	&__item{
		width: 340px;
		padding: 40px;
		background: #FFF;
		text-align: center;
		@include sp{
			width: 100%;
			padding: 20px;
			text-align: left;
			margin-bottom: 4px;
		}
	}	
	&__title{
		margin-bottom: 20px;
		@include sp{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom: 10px;
		}
		h3{
			font-size: 1.8rem;
			//line-height: 2.7rem;
			color: #111;
			@include noto;
			font-weight: bold;
			opacity: 1;
			margin-top: 20px;
			@include sp{
				margin: 0;
				font-size: 1.6rem;
				line-height: 2.4rem;
			}
		}
	}
	&__icon{
		display: flex;
	    align-items: center;
	    justify-content: center;
		width: 80px;
		height: 80px;
		margin: 0 auto;
		background: #003567;
		border-radius: 50%;
		@include sp{
			width: 40px;
			height: 40px;
			margin: 0 10px 0 0;
		}
	}
	&__text{
		p{
			font-size: 1.4rem;
			line-height: 2.5rem;
			color: #111;
			@include noto;
			text-align: left;
			margin-bottom: 20px;			
			@include sp{
				font-size: 1.2rem;
				line-height: 2.1rem;
				margin-bottom: 12px;				
			}
		}		
	}
	&__tel{
		padding-left: 13px;
		margin-top: 5px;
		@include sp{
			padding: 0;
			border: 1px solid #003567;
			margin-bottom: 5px;
		}
		a{
			display: block;
			font-size: 3.2rem;
			line-height: 1;
			color: #111;
			text-decoration: none;
			@include roboto;
			font-weight: bold;
			text-align: left;
			@include sp{
				font-size: 2.4rem;
				padding: 8px 30px 4px 15px;
				position: relative;
			}
			&:after{
				content: "";
				width: 15px;
				height: 15px;
				background: url("/assets/img/common/icon_arrow03.svg") no-repeat center;
				background-size: cover;
				position: absolute;
				top: calc(50% - 7.5px);
				right: 14px;
				display: none;
				@include sp{
					display: block;
				}
			}
			> span{
				display: inline-block;
				font-size: 1.4rem;
				line-height: 1rem;
				color: #003567;
				border: 1px solid #003567;
				padding: 5px 10px 7px;
				@include noto;
				font-weight: bold;
				transform: translateY(-7px);
				margin-right: 10px;
				@include sp{
					font-size: 1rem;
					transform: translateY(-5px);
					padding: 4px 9px 4px;
				}
			}
		}
	}
	&__time{
		display: block;
		font-size: 1.2rem;
		line-height: 2.1rem;
		color: #111;
		@include noto;
		font-weight: normal;
		margin-top: 19px;
		@include sp{
			font-size: 1rem;
			line-height: 1.5rem;
			text-align: center;
			margin-top: 11px;
		}
		b{
			font-weight: bold;
		}
	}
}

/* c-contact
------------------------------------------------------------*/
.c-contact{
	background: #f0f2f3 url("/assets/img/common/102.png") no-repeat center bottom;
	padding: 80px 0;
	@include sp{
		padding: 30px 15px;
	}
	&__head{
		display: flex;
		align-items: center;
		margin-bottom: 60px;
		@include sp{
			display: block;
			margin-bottom: 20px;
		}
		p{
			font-size: 1.6rem;
			line-height: 3.2rem;
			color: #111;
			@include noto;
			font-weight: normal;
			padding-left: 44px;
			@include sp{
				display: none;
			}
		}
	}
}

/* c-tab
------------------------------------------------------------*/
.c-tab{
	&__nav{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 20px;
		@include sp{
			margin-bottom: 15px;
		}
		li{
			width: 25%;
			height: 80px;
			padding: 5px 0;
			position: relative;
			@include sp{
				height: 90px;
			}	
			span{
				display: flex;
				align-items: center;
				font-size: 1.8rem;
				line-height: 2.2rem;
				color: #FFF;
				@include noto;
				font-weight: bold;
				height: 100%;
				padding-right: 60px;
				position: relative;
				cursor: pointer;
				@include sp{
					font-size: 1rem;
					line-height: 1.25rem;
					padding: 35px 5px 15px;
					justify-content: center;
					text-align: center;
				}
				&:before{
					content: "";
					width: 30px;
					height: 30px;
					display: inline-block;
					margin: 0 15px 0 30px;
					@include sp{
						display: block;
						width: 20px;
						height: 20px;
						margin: 0;
						position: absolute;
						top: 10px;
						left: calc(50% - 10px);
					}
				}
				&:after{
					content: "";
					width: 14px;
					height: 14px;
					background: url("/assets/img/common/icon_arrow.svg") no-repeat center;
					transform: rotate(90deg);
					position: absolute;
					right: 30px;
					top: calc(50% - 7px);
					@include sp{
						width: 10px;
						height: 10px;
						right: auto;
						left: calc(50% - 5px);
						top: auto;
						bottom: 8px;
					}
				}
			}
			&:nth-of-type(1){
				span{
					background: #0068b7;
					&:before{
						background: url("/assets/img/common/icon_all.svg") no-repeat center;
					}
				}
				&:after{
					background: url("/assets/img/common/123.png") no-repeat center;
				}
			}
			&:nth-of-type(2){
				span{
					background: #0096db;
					&:before{
						background: url("/assets/img/common/icon_security.svg") no-repeat center;
					}
				}
				&:after{
					background: url("/assets/img/common/124.png") no-repeat center;
				}
			}
			&:nth-of-type(3){
				span{
					background: #009e96;
					&:before{
						background: url("/assets/img/common/icon_graph.svg") no-repeat center;
					}
				}
				&:after{
					background: url("/assets/img/common/125.png") no-repeat center;
				}
			}
			&:nth-of-type(4){
				span{
					background: #82b31d;
					&:before{
						background: url("/assets/img/common/icon_device.svg") no-repeat center;
					}
				}
				&:after{
					background: url("/assets/img/common/126.png") no-repeat center;
				}
			}
			&:after{
				content: "";
				width: 10px;
				height: 10px;
				position: absolute;
				bottom: -10px;
				left: calc(50% - 5px);
				display: none;
			}
			&.is-active{
				padding: 0;
				&:after{
					display: block;
				}
				span{
					@include sp{
						padding: 40px 5px 20px;
					}
					&:before{
						@include sp{
							top: 15px;
						}
					}
					&:after{
						@include sp{
							bottom: 13px;
						}
					}
				}
			}
		}
	}
}

/* c-block01
------------------------------------------------------------*/
.c-block01{
	padding: 0 6.25% 95px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include sp{
		padding: 0 20px 40px;
		display: block;
	}
	&__text{
		width: 480px;
		margin: 135px 50px 0 0;
		position: relative;
		z-index: 2;
		@include sp{
			width: 100%;
			margin: 30px 0 0;
		}
		p{
			font-size: 1.6rem;
			line-height: 3.2rem;
			color: #111;
			opacity: 1;
			@include noto;
			font-weight: normal;
			@include sp{
				font-size: 1.4rem;
				line-height: 2.45rem;
			}
		}
	}
	&__title{
		font-size: 4rem;
		line-height: 6rem;
		color: #111;
		@include noto;
		font-weight: bold;
		opacity: 1;
		@include sp{
			font-size: 2rem;
			line-height: 3rem;
		}
	}
	&__btn{
		width: 100%;
		text-align: center;
		font-size: 2.4rem;
		color: #FFF;
		opacity: 1;
		@include noto;
		font-weight: bold;
		background: #003567;
		padding: 10px;
		margin: 40px 0;
		@include sp{
			font-size: 1.2rem;
			padding: 7px 10px;
			margin: 20px 0;
		}
	}
	&__img{
		width: calc(100% - 530px);
		position: relative;
		z-index: 2;
		@include sp{
			width: 100%;
		}
		img{
			width: 100%;
		}
	}
	&__ttl{
		width: calc(100% - 80px);
		position: absolute;
		left: 80px;
		bottom: -11px;
		z-index: 1;	
		@include sp{
			width: calc(100% - 10px);
			left: 5px;
			bottom: 35%;
		}	
		p{
			font-size: 16rem;
			line-height: 0.85;
			color: #003567;
			opacity: 0.1;
			@include roboto;
			font-weight: bold;
			letter-spacing: 7px;
			@include sp{
				font-size: 6rem;
			}
			&:nth-of-type(2){
				@include sp{
					text-align: right;
				}
			}
		}
	}
}

/* c-block02
------------------------------------------------------------*/
.c-block02{
	padding: 80px 80px 0;
	@include sp{
		padding: 10px 0 0;
	}
	&__inner{
		background: linear-gradient(to left, #F4F4F4 66.6%, transparent 0);
		width: 100%;
		height: 712px;
		position: relative;
		@include sp{
			background: linear-gradient(to left, #F4F4F4 75%, transparent 0);
			height: auto;
			padding: 40px 0 30px;
		}
		.c-title02{
			@include sp{
				padding-left: 15px;
			}
		}
	}
	&__box{
		width: 1040px;
		position: absolute;
	    left: calc(50% - 520px);
	    top: 60px;
		@include sp{
			width: 100%;
			position: unset;
			padding: 0 15px;
		}
	}
	&__text{
		margin: 0 -80px 0 0;
		position: relative;
		@include sp{
			margin: 0;
		}	
		&:after{
			content: "";
			width: 487px;
			height: 367px;
			background: url("/assets/img/common/132.png") no-repeat center;
			position: absolute;
			right: -80px;
			bottom: -80px;
			z-index: 1;
			@include sp{
				width: 90%;
				height: 50px;
				right: 0;
				bottom: auto;
				top: -20px;
				background: url("/assets/img/common/132.png") repeat-x right top;
			}
		}
	}
	&__txt{
		position: relative;
		z-index: 2;
		width: 640px;
		background: #FFF;
		padding: 80px;
		margin-left: auto;
		@include sp{
			width: 100%;
			padding: 0;
			background: transparent;
		}		
		h3{
			font-size: 2.8rem;
			line-height: 4.2rem;
			color: #111111;
			@include noto;
			font-weight: bold;
			margin-bottom: 40px;
			@include sp{
				font-size: 1.8rem;
				line-height: 2.7rem;
				margin-bottom: 20px;
			}
		}
		p{
			font-size: 1.6rem;
			line-height: 3.2rem;
			color: #111;
			@include noto;
			font-weight: normal;
			@include sp{
				font-size: 1.4rem;
				line-height: 2.45rem;
			}
		}
	}
	&__img{
		width: 50%;
		position: absolute;
		top: 153px;
		@include sp{
			position: unset;
			width: 100%;
			margin: 30px 0;
		}
		img{
			width: 100%;
		}
	}
}

/* c-block03
------------------------------------------------------------*/
.c-block03{
	overflow: hidden;
	width: 100%;
	@include sp{
		padding: 0 5px;
	}
	&__left{
		width: 50%;
		height: 480px;
		background: #F4F4F4 url("/assets/img/common/bg.png") top left;
		float: left;
		padding-right: 40px;
		@include sp{
			display: none;
		}		
	}
	&__right{
		width: 50%;
		height: 480px;
		background: #222222;
		float: left;
		padding: 90px 0 90px 40px;
		position: relative;
		@include sp{
			width: 100%;
			height: auto;
			padding: 30px 15px;
		}
		&:before{
			content: "";
			width: 520px;
			height: 100%;
			background: #003567;
			position: absolute;
			top: 0;
			left: -60px;
			transform: skewX(-14deg);
			@include sp{
				background: #003567 url("/assets/img/common/135.png") no-repeat top;
				background-size: 100% auto;
				width: 100%;
				left: 0;
				top: 20px;
				transform: skewX(0deg);
			}
		}
	}
	&__img{
		width: 480px;
		margin-left: auto;
		position: relative;
		z-index: 2;
		@include sp{
			width: 135px;
			position: absolute;
			right: 15px;
			top: 117px;
		}
	}
	&__text{
		width: 480px;
		position: relative;
		z-index: 2;
		@include sp{
			width: 100%;
		}
		h3{
			font-size: 4.8rem;
			line-height: 1;
			@include roboto;
			font-weight: bold;
			color: #FFF;
			margin-bottom: 40px;
			@include sp{
				font-size: 3.2rem;
				margin-bottom: 20px;
			}
			span{
				display: block;
				@include noto;
				font-weight: bold;
				font-size: 2rem;
				line-height: 3rem;
				margin-top: 10px;
				@include sp{
					font-size: 1.4rem;
					line-height: 2.1rem;
				}
			}
		}
		p{
			font-size: 1.6rem;
			line-height: 3.2rem;
			color: #FFF;
			@include noto;
			font-weight: normal;
			margin-bottom: 40px;
			@include sp{
				//width: 50%;
				padding-right: 140px;
				min-height: 147px;
				font-size: 1.2rem;
				line-height: 2.1rem;
				margin-bottom: 20px;
			}
		}
	}
	.c-btn01{
		a{
			display: inline-block;
			@include sp{
				display: block;
			}
		}
	}
}

/* c-block04
------------------------------------------------------------*/
.c-block04{
	background: #003567;
	width: calc(100% - 20px);
	height: 160px;
	margin: 0 auto;
	&__inner{		
		position: relative;
		padding: 40px 0 40px 295px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__img{
		position: absolute;
		left: 0;
		top: -60px;
	}
	&__title{
		display: flex;
		align-items: center;
		@include noto;
		font-weight: bold;
		font-size: 2rem;
		line-height: 3rem;
		color: #FFF;
		span{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background: #fcdb00;
			font-size: 1.6rem;
			line-height: 2.4rem;
			color: #003567;
			margin-right: 10px;
		}
	}
	&__btn{
		width: 280px;
		a{
			display: block;
			background: #ee7b00;
			padding: 30px 0 34px;
			text-align: center;
			font-size: 1.6rem;
			line-height: 1;
			@include noto;
			font-weight: bold;
			color: #FFF;
			text-decoration: none;
			&:after {
			    content: "";
			    width: 16px;
			    height: 16px;
			    background: url("/assets/img/common/icon_arrow02.svg") no-repeat center;
			    background-size: cover;
			    display: inline-block;
			    margin-left: 9px;
			    margin-bottom: -2px;
			}
			&:hover{
				opacity: 1;
				background: #0096db;
			}
		}
	}
}

/* c-block05
------------------------------------------------------------*/
.c-block05{
	&__card{
		padding: 40px;
		border-top: 1px solid #d4d4d4;
		border-left: 1px solid #d4d4d4;
		border-right: 1px solid #d4d4d4;
		&:last-child{
			border-bottom: 1px solid #d4d4d4;
		}
	}
	&__head{
		position: relative;
		padding-left: 120px;
		height: 100px;
    	padding-top: 6px;
		h3{
			font-size: 2.8rem;
			line-height: 4.2rem;
			color: #111;
			@include noto;
			font-weight: bold;
		}
		ul{
			display: flex;
			flex-wrap: wrap;
			margin-top: 11px;
			li{
				font-size: 1.4rem;
				line-height: 2.1rem;
				color: #111;
				@include noto;
				font-weight: bold;
				margin-right: 20px;
				span{
					display: inline-block;
					font-size: 1.2rem;
					line-height: 1.9rem;
					border: 1px solid #999999;
					padding: 0 7px;
					margin-right: 10px;
				}
			}
		}
	}
	&__avatar{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__text01{
		margin-top: 30px;
		background: #f2f7fb;
		padding: 30px 40px 33px;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		h3{
			width: 80px;
			font-size: 1.6rem;
			color: #003567;
			@include noto;
			font-weight: bold;
			position: relative;
			&:before{
				content: "";
				width: 1px;
				height: calc(100% - 15px);
				background: #111;
				position: absolute;
				top: 9px;
				right: 0;
			}
			span{
				display: block;
			    padding-top: 44px;
			    text-align: center;
			    position: relative;
			    padding-right: 22px;
				&:before{
					content: "";
					width: 26px;
					height: 30px;
					background: url("/assets/img/common/icon_fill.svg") no-repeat;
					position: absolute;
					top: 10px;
    				left: 18px;
				}
			}
		}
		p{
			width: calc(100% - 80px);
			padding-left: 40px;
			font-size: 1.6rem;
			line-height: 3.2rem;
			color: #111;
			@include noto;
			font-weight: bold;
		}
	}
	&__text02{
		display: flex;
		flex-wrap: wrap;
		padding: 30px 30px 41px 40px;
		h3{
			width: 80px;
			font-size: 1.6rem;
			color: #009e96;
			@include noto;
			font-weight: bold;
			position: relative;
			&:before{
				content: "";
				width: 1px;
				height: calc(100% - 9px);
				background: #111;
				position: absolute;
				top: 9px;
				right: 0;
			}
			span{
				display: block;
			    padding-top: 44px;
			    text-align: center;
			    position: relative;
			    padding-right: 22px;
				&:before{
					content: "";
					width: 26px;
					height: 30px;
					background: url("/assets/img/common/icon_check.svg") no-repeat;
					position: absolute;
					top: 10px;
    				left: 18px;
				}
			}
		}
	}
	&__txt{
		width: 400px;
		padding-left: 40px;
		margin-right: 40px;
		p{
			font-size: 1.6rem;
			line-height: 3.2rem;
			color: #111;
			@include noto;
			font-weight: normal;
		}
	}
	&__img{
		width: 360px;
		padding-top: 10px;
	}
}

/* c-block06
------------------------------------------------------------*/
.c-block06{
	&__card{
		padding: 40px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		border-top: 1px solid #d4d4d4;
		border-left: 1px solid #d4d4d4;
		border-right: 1px solid #d4d4d4;
		&:last-child{
			border-bottom: 1px solid #d4d4d4;
		}
		.c-btn05{
			position: absolute;
			top: 0;
			left: 0;
		}
		.c-btn06{
			text-align: right;
			margin-top: 10px;
		}
	}
	&__img{
		width: 160px;
		margin-right: 40px;
	}
	&__text{
		width: calc(100% - 200px);
		h3{
			font-size: 2rem;
			line-height: 3rem;
			@include noto;
			font-weight: bold;
			color: #111;
			margin: -6px 0 10px;
		}
		p{
			font-size: 1.4rem;
			line-height: 2.45rem;
			@include noto;
			font-weight: normal;
			color: #111;
			margin-bottom: 10px;
		}
	}
}

/* c-block07
------------------------------------------------------------*/
.c-block07{	
	padding: 0 10px;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	&__inner{
		max-width: 1040px;
		
		margin: 0 auto;
		background: #003567;
	}
	&__left{
		width: 50%;
		height: 480px;
		background: #003567;
	}
	&__right{
		width: 50%;
	}
	&__text{
		width: 520px;
		padding-right: 40px;
		margin: 0 0 0 auto;
	}
	&__img{
		width: 50%;
	}
}

/* c-keyVisual
------------------------------------------------------------*/
.c-keyVisual{
	padding: 0 10px;
	position: relative;
	&__img{
		img{
			width: 100%;
		}
	}
	&__text{
		width: 400px;
		position: absolute;
		left: 130px;
		top: 50%;
		transform: translateY(-50%);
		h3{
			font-size: 4rem;
			//line-height: 6rem;
			line-height: 1;
			color: #FFF;
			@include noto;
			font-weight: bold;
			span{
				display: block;
				text-align: left;
				&:nth-of-type(2){
					text-align: right;
					margin-top: 20px;
				}
			}
		}
	}
	&__btn{
		margin: 40px 0;
		a{
			display: block;
			font-size: 2rem;
			line-height: 1;
			color: #FFF;
			@include noto;
			font-weight: bold;
			text-align: center;
			text-decoration: none;
			background: #0096db;
			padding: 10px;
			&:hover{
				opacity: 1;
			}
		}
	}
}

/* c-textImg01
------------------------------------------------------------*/
.c-textImg01{
	&__inner{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 23px;
	}
	&__text{
		width: 480px;
		p{
			font-size: 1.6rem;
			line-height: 3.2rem;
			color: #111;
			@include noto;
			font-weight: normal;
		}
	}
	&__img{
		width: 480px;
		text-align: center;
		padding-top: 17px;
	}
}